{% section 'product-template' %}
{% section 'product-testimonials' %}
{% section 'product-sections' %}
{% section 'product-recommendations' %}

<script type="application/json" id="ProductJson-1">
    {{ product | json }}
</script>
<script>
    theme.money_format = '{{ shop.money_format }}';
    theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';
</script>
<script type="lazyload_int">
    theme.money_format = '{{ shop.money_format }}';
    theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';
    setTimeout(function() {
        theme.productSelect('1','single', true);
        theme.selectWrapper();
    });
</script>
<!--This is the code for Cloud Lift adding PO or Previous Order # to Spare Veneers -->
<script src="https://assets.cloudlift.app/api/assets/upload.js?shop=pop-on-veneers.myshopify.com" defer="defer"></script>


{% assign current_variant = product.selected_or_first_available_variant %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {%- if product.featured_image -%}
    {%- assign image_size = product.featured_image.width | append: 'x' -%}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {%- endif -%}
  "description": "{{ product.description | strip_html | escape }}",
  {%- if current_variant.sku != blank -%}
    "sku": "{{ current_variant.sku }}",
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": "{{ variant.sku }}",
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : "{{ variant.price | divided_by: 100.00 }}",
        "priceCurrency" : "{{ cart.currency.iso_code }}",
        "url" : "{{ shop.url }}{{ variant.url }}"
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)">
                    <i class="icon icon--close" aria-hidden="true"></i>
                    <span class="icon-fallback__text">Close (Esc)</span>
                </button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous">
                <i class="icon icon--left" aria-hidden="true"></i>
                <span class="icon-fallback__text">Arrow left</span>
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next">
                <i class="icon icon--right" aria-hidden="true"></i>
                <span class="icon-fallback__text">Arrow right</span>
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>